/*
File : custom.css
Author: Senthil Royan
*/
/* COMMON
-------------------------------- */
.alignMargins {
  padding-left: 0px;
  padding-right: 0px; }

.underLine {
  border-bottom: 1px solid #B6B6B4;
  padding-bottom: 5px;
  padding-right: 0px; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

/* HEADER
-------------------------------- */
header .navbar {
  background: #027FF4;
  border-radius: 0px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 0px; }
  header .navbar h3 {
    color: #fff;
    margin: 10px 0px 10px 0px;
    font-size: 30px; }
  header .navbar h5 {
    color: #ADDFFF; }

/* SECTION .pageHeader
-------------------------------- */
section.pageHeader {
  margin-top: 20px;
  padding-bottom: 20px; }
  section.pageHeader .container {
    padding-right: 0px;
    padding-bottom: 10px; }
    section.pageHeader .container h4 {
      color: #848482; }
    section.pageHeader .container a.btn {
      margin-right: 5px;
      margin-bottom: 5px; }
    section.pageHeader .container a.addContact {
      margin-bottom: 10px;
      padding: 8px 40px 8px 40px;
      font-weight: bold;
      text-transform: uppercase; }
      section.pageHeader .container a.addContact span {
        font-size: 12px;
        padding-left: 5px; }
    section.pageHeader .container input.form-control {
      padding-right: 35px; }
    section.pageHeader .container i.form-control-feedback {
      right: 20px;
      color: #B6B6B4; }

/* SECTION .customerList
-------------------------------- */
section.customerList .panel .panel-heading {
  background: #027FF4;
  color: #fff; }
  section.customerList .panel .panel-heading span {
    font-weight: bold; }
  section.customerList .panel .panel-heading a span.glyphicon {
    color: #fff;
    font-weight: normal; }
section.customerList .panel .panel-body img {
  border: 1px solid #ddd;
  border-radius: 100px;
  display: inline-block;
  padding: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
section.customerList .panel .panel-body span.cyan {
  color: #428BCA; }

/* SECTION .formControl
-------------------------------- */
section.formControl .form-group {
  margin-bottom: 25px; }
  section.formControl .form-group button {
    padding: 10px 30px;
    margin-right: 20px; }
  section.formControl .form-group .pull-right {
    margin-top: 10px; }

/* Media quries
-------------------------------- */
@media (max-width: 768px) {
  /* COMMON
  ------------------------
  */
  .container {
    padding-left: 15px;
    padding-right: 15px; }

  /* SECTION
  ------------------------
  */
  section.pageHeader .container a.addContact {
    margin: 10px 0px 15px 0px; }
  section.pageHeader .container input.form-control {
    margin: 5px 0px 15px 0px; }
  section.pageHeader .container i.form-control-feedback {
    top: 4px; } }
